body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px 10px 10px 10px;
  font: bolder;
  font-size: 2.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  margin-top: 0;
}

nav {
  padding: 0px;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .2);
}

.navbar-title {
  line-height: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  display: inline-block;
  padding-right: 60px;
}

.navbar-title h1 {
  text-align: left;
  padding-left: 5px;
  padding-top: 5px;
}

nav ul {
  text-align: right;
}

.navbar-ref {
  color: #808080;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.navbar-ref:hover {
  color: black;
  text-decoration: underline;
}

/* Mobile width - stack and center navbar items */
@media only screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: row;

  }

  nav li {
    padding: 2px;
    margin: 0px 40px 10px 40px;
  }
}

@media only screen and (max-width: 1094px) {
  .navbar-ref {
    font-size: 14px;
  }
}

a::selection,
span::selection {
  background: #ffb7b7;
}

a::selection,
span::-moz-selection {
  background: #ffb7b7;
}