body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

nav h1 {
  margin: 0px 0px 0px 10px;
  font: bolder;
  font-size: 2rem;
  font-weight: 600;
  color: inherit;
}

nav {
  padding: 0px;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .2);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  display: inline-block;
  padding-right: 60px;
}

.navbar-title {
  display: flex;
  align-items: center;
  line-height: 1;
  text-align: left;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

nav ul {
  text-align: right;
}

.navbar-ref {
  color: #808080;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-ref:hover {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* Mobile width - stack and center navbar items */
@media only screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: row;

  }

  nav li {
    padding: 2px;
    margin: 0px 40px 10px 40px;
  }
}

@media only screen and (max-width: 1094px) {
  .navbar-ref {
    font-size: 14px;
  }
}

a::selection,
span::selection {
  background: #ffb7b7;
}

a::selection,
span::-moz-selection {
  background: #ffb7b7;
}