.date {
  display: block;
  color: #303030;
  font-size: 20px;
}

.title {
  color: #1377BD;
  font-size: 16px;
  margin: 4px;
  font-weight: 500;
}

.title:hover {
  text-decoration: none !important;
}

.content {
  display: block;
  color: #303030;
  margin: 4px;
  font-weight: 300;
}

.container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  max-width: 750px;
  margin: auto;
}

.icon-title {
  display: flex;
  align-items: center;
}

.list {
  list-style-type: none;
}

/* Really dumb hardcoded work around*/
h1 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  margin-top: 0;
}