{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/projects.css') }}">
{% endblock %}

{% block body %}
<p class="contruction">Sorry, this page is recieving a makeover right now!</p>
<p class="contruction">If you want to see the code for this website and a little bit of my work, please check out my <a
        target="_blank" href="https://github.com/Erdi-H">github</a>.</p>

<!--<div class="container">
    {% for project in projects %}
    <div class="card">
        <div class="top">
            <h3>{{ project.title }}</h3>
            <p>{{ project.date }}</p>
        </div>
        <img src="{{ project.photo }}" alt="project photo">
        <p>{{ project.short }}</p>
        <a href="{{ project.link }}">Github repo</a>
    </div>
    {% endfor %}
</div>-->
{% endblock %}