{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/projects.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    {% for project in projects %}
    <div class="card">
        <div class="top">
            <h3>{{ project.title }}</h3>
            <p>{{ project.date }}</p>
        </div>
        <img src="{{ project.photo }}" alt="project photo">
        <div class="bottom">
            <p>{{ project.short }}</p>
            <ul>
                {% for tool in project.tools %}
                <li>{{ tool }}</li>
                {% endfor %}
            </ul>
        </div>
        <a href="{{ project.link }}" target="_blank">Github Repo</a>
    </div>
    {% endfor %}
</div>
{% endblock %}